.nav-link {
    font-family: Roboto, sans-serif;
    color: #646464 !important;
}

#navbar {
    background-color: #ffffff !important;
}

#navbar #brand {
    font-weight: bold;
}

#navbar #button {
    background-color: #f4476b;
    border-radius: 1rem;
    border: none;
    color: #f1f7fc;
}

#navbar #button:hover {
    background-color: #f55e7e;
}